*, ::after, ::before {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Eugusto_font';
    src: url('../fonts/Eugusto Free Font.eot');
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    overflow: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* removing backdrop |modal */
.modal-backdrop {
    display: none;
    z-index: 1040 !important;
}
.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}






.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: block;
    overflow-x: hidden;
    font-family: Eugusto_font;
}

.navbar-brand img {
    max-height: 100px;
}

.navbar-brand, #text {
    font-size: 25px;
    text-transform: uppercase;
}

.pb-3 {
    min-height: 200px;
}

#navbarSupportedContent > ul > li > a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}

    #navbarSupportedContent > ul > li > a:hover {
        color: darkslategray;
        transition-delay: 0.1s;
    }

body > header > nav > div {
    background-color: lightgray;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

img.book_icon {
    max-height: 50px;
    border-radius: 30%;
    border: 2px solid #1a1e21;
    margin-right: 10px;
}



.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}



