@model BookReader.Domain.ViewModel.CustomErrorModel
@{
    ViewData["Title"] = "Error";
    
}

<h2 class="text-danger">An error occurred while processing your request.
    <p>@Model.ErrorText</p>
</h2>

