@model BookReader.Domain.ViewModel.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h1>Profile</h1>
<p>@Model.Age</p>
<p>@Model.Sex</p>
<p>@Model.Email</p>


